/*
Author: Chelsea Thornton
Date: 5/15/22
File Name: Styles.css
*/

/*CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
	background-color: #C4E3E6;
}
#hero img {
    max-width: 125%;
    display: block;
}

/* Style rule for box sizing applies to all elements */
*{
	box-sizing: border-box; 
}

/* Style rules for mobile viewport */
main {
	font-size: 2em;
}

/* Style rules for header */
header {
	top: 0;
	background-color: #C4E3E6;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* Style rules for navigation area */
nav {
	padding: 1%; 
	margin: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.25em;
	font-family: 'Libre Baskerville', serif;
	border-top: 1px solid #fff;
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #2C3E50;
	font-weight: bold;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for main content */
main {
	background-color: #FFE4B5;
	padding: 10%;
	font-size: 1.25em;
	font-family: 'EB Garamond', serif;
}

#beach, #rose, #storm, #teal, #underwater {
	font-size: .50em;
	margin: 0 2%;
	background-color: #FFE4B5;
	text-align: center;
}

.round {
    border-radius: 8px;
    margin: auto;
    position: static;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    padding-left: 0px;
    clear: both;
    display: table;
}

#contact {
	text-align: center;
}

#contact .contact-email-link {
	color: #000080;
	text-decoration: none;
	font-size: .95em;
}

.map {
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

.frame {
	position: relative;
	opacity: 0.9;
	max-width: 450px;
	margin: 2% auto;
}


.pic-text {
    color: #27335E;
    width: 250px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    margin: auto;
    position: static;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: px;
    clear: both;
    display: table;
}
.frame .shop-item-details .btn.btn-primary.shop-item-button {
    margin: auto;
    position: static;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
}

.grid .frame .btn.btn-primary.shop-item-button {
    color: #5F2F1D;
    width: 70%;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    margin-left: 15px;
}


/* Style rules for footer content */
footer p {
	text-align: center;
	color: #000080;
	padding: 0 1em;
	font-size: 1.25em;
}

footer p a {
	color: #000080;
	text-decoration: none;
	font-size: 1em;
}
#container main #message {
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding-left: px;
    margin: auto;
    clear: both;
    display: table;
    padding-top: 10px;
}
#offerEnds {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    margin: auto;
    padding-left: px;
    clear: both;
    display: table;
}
.frame #info h1 {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    width: 150px;
    padding-left: px;
    clear: both;
    display: table;
}
.frame #info p {
    background-color: #EAC477;
    color: #1E1B1E;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
    font-weight: bold;
}
.frame #info h3 {
    background-color: #EAC477;
    color: #1E1B1E;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    margin: auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
}

.frame #info #offerEnds {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: auto;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
}
.frame #info #specialRate {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: auto;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
}
.frame #info #artRate {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: auto;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
    text-decoration: line-through;
}
.frame #info #artName {
    background-color: #EAC477;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: auto;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    clear: both;
    display: table;
}
main .container.content-section .section-header {
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.shop-item-details {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    color: #4D1B0C;
    width: 240px;
    margin-left: 20px;
    font-weight: bold;
}
.cart-total-title {
    margin-top: 100px;
}
main .container.content-section .cart-total {
    float: right;
    margin-top: 50px;
    margin-right: 40px;
}
.btn-purchase   {
    clear: both;
    bottom: 20px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #333C95;
    color: #FBF8F8;
    background-size: 60px 100px;
    width: 200px;
    padding-left: px;
    font-size: large;
    margin-left: 508px;
    margin-top: 100px;
    text-align: center;
}
.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}
.counter .btn {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background-color: d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: open sans;
    font-weight: 900;
    color: 202020;
    cursor: pointer;
}
.count {
    font-size: 20px;
    font-family: open sans;
    font-weight: 900;
    color: 202020;
}
.selectbox   {
    color: #070707;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.checkbox {
    display: inline;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #160404;
}

#termsHint {
    background-repeat: no-repeat;
    padding-right: 0;
    padding-left: 22px;
    background-position: 2px 14px;
}
input{
    background-color: #F3F8F3;
    color: #1D4277;
    -webkit-box-shadow: 0% 0px;
    box-shadow: 0% 0px;
}




#formSignup {
    padding-top: 0;
    padding-right: 60px;
    padding-left: 10px;
    padding-bottom: 0;
    display: inline-block;
    margin-top: 100px;
    background-color: #DCB173;
    font-family: inherit;
    border: medium solid #000000;
}
.sub:hover.btn {
    background-color: #F3F8F3;
    color: #1D4277;
    -webkit-box-shadow: 0% 0px;
    box-shadow: 0% 0px;
}

#package {
    font-size: 16px;
    overflow: visible;
    writing-mode: horizontal-tb;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    display: inline-block;
    text-align: center;
    appearance: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #1D1B1B;
}
#page #formSignup #termsHint  {
    color: #DD1418;
    background-repeat: no-repeat;
    padding-right: 0;
    background-position: 2px 14px;
    display: block;
    margin: 0;
    background-color: #DCB173;
    content: \26A0;
    padding-left: 0px;
}
#page #formSignup #terms {

}

#page #formSignup #packageHint  {
    color: #002A9F;
}
#page #formSignup h4 {
    color: #213F71;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
}
#container main #page {
    padding-top: 0px;
    margin-top: 0px;
}
#terms {
    float: none;

}
nav li a:hover {
    color: #F8F6F6;
}
#slideAd  {
    width: 130px;
    height: 60px;
    background-color: #403c3b;
    background-repeat: no-repeat;
    color: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    padding-right: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #fff;
    position: fixed;
    bottom: 20px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-position: 10px center;
}
div {
    display: block;
}
#container main #slideAd {
    width: 200px;
    height: 100px;
    background-color: #403c3b;
    background-repeat: no-repeat;
    color: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    padding-right: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #fff;
    position: fixed;
    bottom: 20px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-position: 10px center;
    font-family: oswald;
    right: 0px;
}

h5 {
    width: 250px;
    display: inline-block;
    margin-left: 485px;
    font-size: x-large;
    text-align: center;
    background-color: #7B8B91;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #343C3E;
    text-shadow: 0px 0px 20px #FCF2F2;
    border-radius: 10px;
}
.date {
    padding: left;
    font-size: 12px;
}
#one  , #two  , #three{
    background-color: #233079;
    color: #fff;
    border-top: 1px solid #e99295;
    border-bottom: 1px solid #914141;
    width: 250px;
    border-radius: 10px;
    margin-left: 365px;
    text-align: center;
}
#container main ul {
}
#map {
    width: 850px;
    margin-top: 60px;
    margin-left: 190px;
    margin-bottom: 300px;
    height: 800px;
}
h2 {
    width: 400px;
    margin-left: 400px;
    text-align: center;
}
#loc {
    padding-top: 2em;
    text-align: center;
}




















































/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}
#container main #answer {
    display: table;
    float: none;
    font-size: 1em;
    text-align: center;
    clear: both;
    position: static;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    margin: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    padding-left: px;
    background-color: #EAC477;
    font-weight: bold;
}

	
	.mobile {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header */
	header {
		padding-bottom: 2%;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child {
		border-right: none;
	}
	
	nav li a {
		padding: 0.1em 0.75em;
	}
	
	/* Tablet Viewport: Style rules for main content area */
	main ul {
		margin: 0 0 4% 10%;
	}
	
	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.pic-text {
    font-size: 1em;
    padding: 10px;
    text-align: center;
    color: #4D1B0C;
    width: 240px;
    margin-left: 20px;
	}
.shop-item-details .btn.btn-primary.shop-item-button {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    color: #4D1B0C;
    width: 240px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

	
	.map {
		width: 600px;
		height: 450px;
	}

}
	
	/* Media Query for Desktop viewport */
	@media screen and (min-width: 1152px), print {
		
		/* Desktop Viewport: Style rule for header */
		header {
			width: 25%;
			float: left;
			padding-bottom: 0;
		}
		
	/* Desktop Viewport: Style rules for nav area */
		nav {
			float: right;
			width: 73%;
			margin: 4em 1em 0 0;
		}
		
		nav ul {
			text-align: right;
		}
		
		nav li {
			border: none;
		}
		
		nav li a {
			padding: 0.5em 1em;
		}


		
	/* Desktop viewport: Style Rules for main content */
		main {
			clear: left;
		}
		
		main h1 {
    font-size: 2.25em;
    text-align: center;
    display: inline-block;
    clear: both;
    position: static;
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    -webkit-box-sizing: content-box;
    margin: auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding-left: px;
		}
main .container.content-section .section-header {
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding-left: px;
    clear: both;
    display: table;
    margin-bottom: 100px;
}
.cart-column   {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row   {
    display: flex;
    margin-top: 100px;
}
.cart-item   {
    width: 45%;
}






				
		#beach, #rose, #storm, #teal, #underwater {
			width: 29%;
			float: left;
			margin: 0 2%;
		}
.cart-price  {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

		
		
	}
		
	/* Media Query for Large Desktop Viewports */
	@media screen and (min-width: 1921px) {
		
		#container {
			width: 19620px;
			margin: 0 auto;
		}
		
	}
	
	/* Media Query for Print */
	@media print {
		
		body {
			background-color: #fff;
			color: #000;
		}
		
	}

.align-center {
}
#container main h1 {
    color: #1e1b1e;
    font-family: Calibri, Cambria;
    font-style: italic;
    position: static;
    text-align: center;
    -webkit-box-sizing: content-box;
    margin: auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding-left: px;
    clear: both;
    display: table;
}
#submit {
}

input[type='submit'], a.add {
    background-color: #27436B;
    color: #FDFDFC;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 175px;
}

input[type='submit']:hover, a.add:hover {
    background-color: #FCF6F7;
    color: #27436B;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    top: 1px;
  }
.button {
}


.modal {
    position: absolute;
    z-index: 1000;
}

.modal-close {
  cursor: pointer;}

#window {
  background: #fff;
  text-align: center;}

.social {
  color: #858585;}

section img {
  display: block;
  margin: 0 auto;}

#share {
  position: absolute;
  top: 10px;
  left: 10px;}

#share-options {
    background-color: #F8F1EA;
    text-align: center;
    border: 10px solid #E0812B;
    height: 300px;
    clear: both;
}

#message {
  display: inline-block;
  margin: 15px 0 15px 0;} 

#links a {
  display: inline-block;
  margin: 0 12px 8px 12px !important;} 

#window a {
  margin: 3px;}

button.modal-close {
  background-color: #ed8e6c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 7px 10px 9px 10px;
  margin: 10px 0 0 0;
  float: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;}

button.modal-close:hover {background-color: #ed612f;}



/* Gallery of images */


/* Search input */
input {
    font-size: 90%;
    border: 1px solid #999;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 490px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
input:hover {
	border: 1px solid #666;}
input:focus {
    border: 1px solid #00cccc;
    outline: none;
    display: inline;
}
